<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686d7f">  <td>20/02/14 18:13:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddOrg.AddOrg()[pri:2, instance:DronewarePack.AddOrg@67205a84]">AddOrg</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/02/14 18:13:33</td>   <td>-121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddWMSConfig.AddWMSConfig()[pri:2, instance:DronewarePack.AddWMSConfig@5a8806ef]">AddWMSConfig</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/02/14 18:13:33</td>   <td>-37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddWarehouse.AddWarehouse()[pri:2, instance:DronewarePack.AddWarehouse@5e853265]">AddWarehouse</td> 
  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/02/14 18:13:33</td>   <td>25</td> <td>&nbsp;</td><td title="&lt;&lt;AddOrg.TestClose()[pri:0, instance:DronewarePack.AddOrg@67205a84]">&lt;&lt;TestClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/02/14 18:13:34</td>   <td>100</td> <td>&nbsp;</td><td title="&lt;&lt;AddWMSConfig.TestClose()[pri:0, instance:DronewarePack.AddWMSConfig@5a8806ef]">&lt;&lt;TestClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/02/14 18:13:34</td>   <td>242</td> <td>&nbsp;</td><td title="&lt;&lt;DronewareLogin.TestClose()[pri:0, instance:DronewarePack.DronewareLogin@6c49835d]">&lt;&lt;TestClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/02/14 18:13:31</td>   <td>-2741</td> <td>&nbsp;</td><td title="&gt;&gt;AddOrg.TestSetup()[pri:0, instance:DronewarePack.AddOrg@67205a84]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>20/02/14 18:13:32</td>   <td>-1652</td> <td>&nbsp;</td><td title="&gt;&gt;AddWMSConfig.TestSetup()[pri:0, instance:DronewarePack.AddWMSConfig@5a8806ef]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/02/14 18:13:32</td>   <td>-1217</td> <td>&nbsp;</td><td title="&gt;&gt;AddWarehouse.TestSetup()[pri:0, instance:DronewarePack.AddWarehouse@5e853265]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/02/14 18:13:33</td>   <td>-718</td> <td>&nbsp;</td><td title="&gt;&gt;DronewareLogin.TestSetup()[pri:0, instance:DronewarePack.DronewareLogin@6c49835d]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/02/14 18:13:34</td>   <td>174</td> <td>&nbsp;</td><td title="&lt;&lt;AddWarehouse.afterTest()[pri:0, instance:DronewarePack.AddWarehouse@5e853265]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@198761306</td>   <td></td> </tr>
</table>
