<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DronewareSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>20/02/14 18:11:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AddOrg.TestSetup()[pri:0, instance:DronewarePack.AddOrg@6c49835d]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/02/14 18:11:40</td>   <td>1022</td> <td>&nbsp;</td><td title="&gt;&gt;AddWMSConfig.TestSetup()[pri:0, instance:DronewarePack.AddWMSConfig@5e853265]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/02/14 18:11:40</td>   <td>1540</td> <td>&nbsp;</td><td title="&gt;&gt;DronewareLogin.TestSetup()[pri:0, instance:DronewarePack.DronewareLogin@5a8806ef]">&gt;&gt;TestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/02/14 18:11:41</td>   <td>2182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DronewareLogin.BasicAuthLogin(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:DronewarePack.DronewareLogin@5a8806ef]">BasicAuthLogin</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/02/14 18:11:49</td>   <td>10482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddOrg.BasicAuthLogin(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:DronewarePack.AddOrg@6c49835d]">BasicAuthLogin</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/02/14 18:11:57</td>   <td>18219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddOrg.AddOrg()[pri:2, instance:DronewarePack.AddOrg@6c49835d]">AddOrg</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/02/14 18:12:14</td>   <td>35810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddWMSConfig.BasicAuthLogin(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:DronewarePack.AddWMSConfig@5e853265]">BasicAuthLogin</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/02/14 18:12:24</td>   <td>45798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddWMSConfig.AddWMSConfig()[pri:2, instance:DronewarePack.AddWMSConfig@5e853265]">AddWMSConfig</td> 
  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/02/14 18:12:32</td>   <td>53190</td> <td>&nbsp;</td><td title="&lt;&lt;AddOrg.TestClose()[pri:0, instance:DronewarePack.AddOrg@6c49835d]">&lt;&lt;TestClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>20/02/14 18:12:32</td>   <td>53351</td> <td>&nbsp;</td><td title="&lt;&lt;AddWMSConfig.TestClose()[pri:0, instance:DronewarePack.AddWMSConfig@5e853265]">&lt;&lt;TestClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>20/02/14 18:12:32</td>   <td>53513</td> <td>&nbsp;</td><td title="&lt;&lt;DronewareLogin.TestClose()[pri:0, instance:DronewarePack.DronewareLogin@5a8806ef]">&lt;&lt;TestClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2028371466</td>   <td></td> </tr>
</table>
